- @title = search_results_title(@member, @decade, @query)
= render :partial => "facets"
.top-pagination
  = will_paginate @paginator 
- if @result_set.total_hits > 1
  = sort_link(@sort)
.search-results
  = search_results_summary(@result_set, @query)
  = render :partial => "contribution", :collection => @result_set.results
.bottom-pagination
  = will_paginate @paginator 
