- section = section_link
- if section.linkable?
  .section-line
    - section_id = 'section_'+section.id.to_s
    %span.section-link{ :id => section_id }
      - if section.contributions.length > 0
        - if section.contributions.first.text.length > 90
          = link_to section.title, section_url(section)
      - else
        = section.title
      - if section.contributions.length > 0
        .section-preview
          = section.contributions.first.member
          = truncate(section.contributions.first.text, 90, "...")
    = render :partial => "partials/section_link", :collection => section.sections
- else
  = render :partial => "partials/section_link", :collection => section.sections
