- section = section_link

- if section.linkable?
  - if section.words > 0
    %span.section-column-reference= section.column_reference
  %li.section-line
    %span.section-link{ :id => section.link_id }

      - if section.words < 1
        %span.blank-section= link_to_section section

      - elsif section.words < 32
        %span.minor-section{:title=>preview(section)}= link_to_section section

      - else
        %span.major-section{:title=>preview(section)}= link_to_section section

      - if section.words > 0
        %span.section-word-length= "#{number_with_delimiter(section.word_count)} words#{section.division_count > 0 ? ', ' : ''}"

      - if section.division_count > 0
        %span.section_division_count= pluralize(section.division_count, 'division')
  - unless section.sections.empty?
    %ol.xoxo
      = render :partial => "partials/section_link", :collection => section.sections
- else
  - unless section.sections.empty?
    = render :partial => "partials/section_link", :collection => section.sections