- on_edit_page = false unless on_edit_page
- @section = section_link
- if @section.linkable?
  .section-line
    - section_id = 'section_'+@section.id.to_s
    - if on_edit_page
      - move_section_id = 'move_'+section_id
      %span{ :onmouseover => "Element.show('#{move_section_id}'); return false;", :onmouseout => "Element.hide('#{move_section_id}'); return false;" }
        %span{ :id => section_id }
          = in_place_editor_field(:section, 'title', {}, {:cols => 60, :url => url_for(:controller => 'sections', :action => 'set_section_title', :id => @section.id) })
        %span{ :id => move_section_id, :style => "display:none;" }
          = section_nesting_buttons @section
    - else
      %span.section-link{ :id => section_id }
        = link_to @section.title, section_url(@section)
    = render :partial => "partials/section_link", :collection => @section.sections, :locals => {:on_edit_page => on_edit_page}
- else
  = render :partial => "partials/section_link", :collection => @section.sections
