- warning = warning_reloaded
%td= warning.directory.split('/').last+'.xml'
%td= data_file.type_of_data.sub('writtenanswers','written answers')
%td= warning.date_text
%td= "reloaded (#{Time.now.to_s}): #{h(warning.log)}"
%td= warning.saved ? 'Y' : 'N'
%td
  - if warning.reload_possible?
    - form_remote_tag :url => { :controller => 'data_files', :action => 'reload_commmons_for_date', :date => warning.date.to_s } do
      = submit_tag "Reload"