= marker_html(contribution, @marker_options)
- if contribution.is_a? TimeContribution
  .time
    = format_time(contribution)
- elsif contribution.is_a? ProceduralContribution
  .procedural{:id => contribution.xml_id}
    = format_contribution(contribution.text, ['div'])
- elsif contribution.is_a? MemberContribution
  = render :partial => 'member_contribution', :object => contribution
- elsif contribution.is_a? QuoteContribution
  %q.quote{:id => contribution.xml_id}= format_contribution(contribution.text, ['div'])
- elsif contribution.is_a? TableContribution
  .table{:id => contribution.xml_id}
    = format_contribution(contribution.text, ['div'])
