= marker_html(contribution, @sitting, @marker_options)
- contribution_content = format_contribution(contribution, @sitting, @marker_options)
- if contribution.is_a? TimeContribution
  - if contribution.time
    %span.time.published= format_time(contribution)
- elsif contribution.is_a? ProceduralContribution
  %p.procedural{:id => contribution.xml_id}
    = contribution_permalink(contribution, @marker_options)
    = contribution_content
- elsif contribution.is_a? MemberContribution
  = render :partial => 'sections/member_contribution', :object => contribution
- elsif contribution.is_a? QuoteContribution
  %q{:id => contribution.anchor_id}
    = contribution_content
- elsif contribution.is_a? TableContribution
  .table{:id => contribution.anchor_id}
    = contribution_content
- elsif contribution.is_a?(UnparsedDivisionPlaceholder)
  .unparsed_division
    = contribution_content
- elsif contribution.is_a?(DivisionPlaceholder) && contribution.text?
  .division{:id => contribution.division_id}
    %a{:name => contribution.anchor_id}
    = contribution_content
