= marker_html(contribution, @marker_options)
- if contribution.is_a? ProceduralContribution
  .procedural
    = format_contribution(contribution.text, ['div'])
- elsif contribution.is_a? MemberContribution
  = render :partial => 'member_contribution', :object => contribution
- elsif contribution.is_a? QuoteContribution
  .quote
    = format_contribution(contribution.text, ['div'])
    = contribution.word_count