- @title = "#{@series_number.titleize} Series, Volume #{@volume_number}, Columns by day"

- if @commons_session
  %h2 House of Commons
  - @commons_session.sittings.each do |sitting|
    .sitting_columns
      %p
        %span.sitting_date= sitting.date_text
        %span= sitting_column_links(sitting)
- if @lords_session
  %h2 House of Lords
  - @lords_session.sittings.each do |sitting|
    .sitting_columns
      %p
        %span.sitting_date= sitting.date_text
        %span= sitting_column_links(sitting)