- @title = "Source files"
- @javascript = :defaults
%h1
  = @source_files.length
  Source Files

%table
  %tr
    %th Error types
    %th.number File count
    %th.percentage Percentage of files
  - @error_types.each_with_index do |type, index|
    %tr
      %td= type
      - error_count = @error_types_to_files[type].size.to_s
      %td.number= error_count
      %td.percentage= number_to_percentage(error_count.to_f / @source_files.length * 100, :precision => 0)
%table
  %tr
    %th
      File
    %th
      Schema
    %th
      Schema valid?
    %th
      Problems
  = render :partial => 'source_file', :collection => @source_files

