<!DOCTYPE html>
%html{ :lang => 'en-GB' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= "Millbank Systems: Hansard: " << ( @title || "Please give me a title" )
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
    - if @day
      %link{ :rel => 'alternate', :type => 'text/xml', :title => 'Source file for: ' << ( @title || "Please give me a title" ), :href => sitting_date_source_url(@sitting) }
      %link{ :rel => 'alternate', :type => 'text/xml', :title => 'XML file for: ' << ( @title || "Please give me a title" ), :href => sitting_date_xml_url(@sitting) }
    - if @javascript
      = javascript_include_tag @javascript
  %body
    #navbar
      %p
      = section_previous_and_next_links(@section) if @section
    #header
      = google_custom_search_form
      = day_nav_links
    #content
      = @marker
      %h1.title= @title
      = yield
      #footer
        &copy; UK Parliament.

