<!DOCTYPE html>
%html{ :lang => 'en-GB' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= "UK Parliament: Hansard: " << ( strip_tags(@title) || "Please give me a title" )
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
    = javascript_include_tag :defaults
  %body
    #header
      = search_form
      = day_nav_links
      %p.description
        = @section.sitting.title.to_s << ": " << @section.sitting.date_text.to_s if @section
    = sitting_nav_links(@sitting) if @sitting
    = section_nav_links(@section) if @section
    #content
      %h1
        = @title
      =@marker
      = yield
      #footer
        URL for this page:
        = link_to "http://" << request.host_with_port << request.path, request.path
        - if @day
          %br
            XML source for this day:
            = link_to "http://" << request.host_with_port << sitting_date_source_url(@sitting), sitting_date_source_url(@sitting)
          %br
            XML output for this day:
            = link_to "http://" << request.host_with_port << sitting_date_xml_url(@sitting), sitting_date_xml_url(@sitting)