<!DOCTYPE html>
%html{ :lang => 'en-GB' }
  %head
    %meta{ 'http-equiv'.to_sym=>"Content-Type", :content=>"text/html;charset=utf-8" }
    %title= "UK Parliament: Hansard: Search"
    = stylesheet_link_tag "screen", :media => "screen"
    = stylesheet_link_tag "print", :media => "print"
  %body
    #frontpage
      = search_form
      %a{:href=>"http://www.flickr.com/photos/bobcatrock/1726043431/"}
        photo &copy; bobcat rock
      %br
      = link_to "Random date", random_url, {:id => "random-link"}
      