- @title = @member.name
= member_search_form @member.name
#contact.name
  = @member.name
= link_to "TWFY", "http://www.theyworkforyou.com/search/?s='#{@member.name}'"
= link_to "Google", "http://www.google.com/search?q='#{@member.name}'"
- @contributions_in_groups_by_year_and_section.each do |by_year|
  %h3= by_year.first.first.year
  %ol
    - by_year.each do |by_section|
      %li
        = link_to by_section.first.section.title, section_url(by_section.first.section)
        - house = by_section.first.section.sitting.uri_component.humanize.titleize
        - contribution_count = "#{by_section.size} #{by_section.size == 1 ? 'contribution' : 'contributions'}"
        = "(#{contribution_count}, #{house}, #{by_section.first.date.to_s(:short)})"

